/*Project:  Oath of Allegiance
Author: Jakob Sonnberger
Company: ZIM-ACDH (Zentrum für Informationsmodellierung - Austrian Centre for Digital Humanities)
Stylesheet Information: Style information for all HTML-elements except navbar (see ooa-navbar.css)
*/

@import url(/fonts/OpenSans/OpenSans.css);
@import url(/fonts/DroidSerif/DroidSerif.css);

/*
###### Typography
*/

html {
    background-color: #475862;
}

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    background-color: #e8e8e8;
    color: #474747;
}
/*farben im main bereich sollen fÃ¼r alle projekte gleichbleiben wg. kontrast und einheitlichkeit*/

h1,
h3,
h4,
h5,
h6 {
    font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
}

h1 {
    font-size: 180%;
    margin-bottom: 0;
}

h2 {
    font-size: 130%;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-bottom: 0.8em;
    margin-top: 0.4em;
}

h3 {
    color: #00a06e; /*projektfarbe!*/
    font-size: 125%;
    line-height: 1.8em;
}
h3.objekt {
    margin-top: 5px;
}

h4 {
    font-size: 115%;
    color: #333333;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-style: italic;
}

h5 {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: #333333;

}

h6 {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: #333333;
    font-size: 100%;
    line-height: 1.5;

}

blockquote,
cite,
q {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

a {
    color: #00a06e; /*projektfarbe!*/
}

a:hover,
a:focus {
    background-color: transparent;
    color: inherit;
}

.color {
    color: #00a06e; /*projektfarbe!*/
}

/*
###### Header
*/

header h2 {
    margin-top: 10px !important;
}

@media (max-width : 768px) {
    header h1 {
        font-size: 170%;
    }
    header h2 {
        font-size: 120%;
    }
}
@media (max-width : 568px) {
    header h1 {
        font-size: 130%;
    }
    header h2 {
        font-size: 100%;
    }
}

div.unilogo {
    margin-top: 40px;
    padding: 0;
    float: right;
}

div.unilogo a {
    text-decoration: none;
    background: none;
}

img.logoUni {
    max-height: 62px;
    padding-left: 10px;
}

header {
    background-color: #00a06e; /*projektfarbe!*/
    overflow: hidden;
    height: 125px;
}

header h1,
header h2 {
    color: #ffffff;
}
header h1 {
    margin-top: 37px;
}

/*
###### Navigation
siehe navbar.css
*/


/*
###### Main

*/
main a:hover,
main a:focus {
    background-color: transparent;
    color: #00a06e; /*projektfarbe!*/
}

main p {
    line-height: 1.5;
    margin-bottom: 15px;

}

/*
###### Footer

*/

footer {
    background-color: #475862;
    padding-bottom: 30px;
    margin-top: 30px;
    color: #ffffff;
}

footer h6 {
    color: inherit;
    background-color: inherit;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 1em;
}

footer .row {
    padding: 10px;
}

footer a {
    color: inherit;
}


img.footer_icons {
    padding-right: 10px;
    padding-bottom: 10px;
}

.icons a:hover,
.icons a:focus {
    text-decoration: none;
}
/*
###### Boxen
*/

.card {
    box-shadow: none;
    border: none;
    /*	border: 1px solid transparent;*/
    border-radius: 0;
    /* padding-right:20px;
    padding-left:20px;*/
    /*    margin-bottom:30px;*/
    margin-top: 30px;
}

.card-img-top {
    width: 100%;
}

/*
###### Bilder
*/

.thumbnail {
    border-radius: 0;
}


/*
###### Suche und Kontextliste
*/


.arrow-down-context {
    font-size: 10px;
    padding-right: 5px;
}
.context-item-number {
    float: right;
    color: #00a06e; /*projektfarbe*/
}

p.results {
    float: right;
    bottom: 0;
    right: 0;
    font-size: 12px;
}

li.results {
    position: relative;
    overflow: hidden;
    border-bottom: dotted 1px;
    padding: 5px 0 5px 0;
    margin: 5px 0 5px 0;
}

li.results:last-child {
    border-bottom: none;
}

img.results {
    float: left;
    padding-right: 10px;
    padding-bottom: 5px;
}

span.results {
    vertical-align: top;
    padding-right: 10px;
}
span.permalink {
    font-size: 12px;
}
span.icon-span {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
}
.form-control,
.input-group-addon,
.btn {
    border-radius: 0;
}

#search a,
#search a:hover,
#search a:focus,
#results a,
#results a:hover,
#results a:focus {
    color: #333333;
    text-decoration: none;
}


#search p,
#results p {
    margin-bottom: 5px;
}

#search-navi a,
#search-navi a:hover,
#search-navi a:focus {
    color: #00a06e; /*projektfarbe!*/
}


.result {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*
###### ooa ########################################################
*/

/*
###### General #####
*/

section{
margin:0px !important;
}

article {
    padding-right: 0px !important;
    padding-left: 0px !important;
}


/*download buttons, delete-databasket-entry buttons*/
span.oi:hover,
td span.oi:hover {
    color: #00a06e
}

/*Databasket counter*/
span#daba_length {
    font-size: 65%;
    margin-left: 5px;
}

/*Tables*/
table {
    font-size: 80%;
}

thead {
    color: #ffffff;
    background-color: #00a06e;
}
td {
    max-width: 150px
}
table td,
th {
    padding: 5px !important;
}

@media (max-width : 1000px) {
    td,
    th {
        word-break: break-word;
    }
}

@media (min-width : 1000px) {
    th {
        white-space: nowrap;
    }
}

td#cb,
th#cb {
    padding: 0px !important;
    vertical-align: middle;
}

/*checkboxes*/
input.cb,
input.cbHead {
    position: relative;
    margin: 0px 5px 0px 0px;
}


/*
###### ooa Context #####
*/

/*distance between download icons*/
span.icon-span img {
    margin-left: 10px;
}

/*
###### ooa Home #####
*/

section#home {
    min-height: 600px;
    background-image: url("../img/title_img.jpg");
}

article#home {
    opacity: 0.9;
    margin: auto 0 auto auto;
}

article#home div.card {
    border-radius: 5px 0 0 5px;
}

div.contact p {
    line-height: 1.25;
    font-size: 85%;
}

/*
###### ooa Advanced Search #####
*/

/*
###### ooa ONTOLOGY (RDF Representation) #####
*/

/*highlight entry when jumped to*/
article#ontology :target {
    color: #00a06e;
}

/*Downlad HSSF Button*/
article#ontology a#exportHSSF {
    float: right;
    color: black;
    margin-left: 10px;
}

/*
###### ooa SEARCH RESULTS #####
*/

/*different background for search results in extranuous Data*/
article#searchResults tr#extranuousData {
    background-color: #F5F5DC;
}


/*
###### ooa DataBasket ######
*/

article#dataBasket a#clearDatabasket,
article#dataBasket a#exportDatabasket {
    float: right;
    color: black;
    margin-left: 10px;
}

/*delete entry buttons*/
article#dataBasket span#deleteEntry {
    font-size: 125%;
}

/*sort buttons*/
article#dataBasket th span.oi {
    font-size: 75%;
    margin-left: 5px
}

article#dataBasket th span.oi:hover {
    color: black;
}